.street-family-box-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  margin: 0 22px;
}

.street-family-box-container svg {
  position: relative;
  width: 100%;
  height: 100px;
  vertical-align: top;
}

svg path.americas {
  fill: #7feb00;
}
svg path.africa {
  fill: #00d5e9;
}
svg path.asia {
  fill: #ff5872;
}
svg path.europe {
  fill: #ffe700;
}

@media (max-width: 1023px) {
  .street-family-box-container {
    margin: 0 10px;
  }
}

@media (max-width: 599px) {
  .street-family-box-container {
    margin: 0 5px;
  }
}
